server {
    host 127.0.0.1
    port 8080
    server_name algo.com

    error_page 404 /404.html
    
    client_max_body_size 10M

    location / {
        method GET
        root /var/www/site
        index index.html
        autoindex off
    }
    location /img-test/ {
        method GET
        root /var/www/site/img-test
        autoindex on
    }
    location /img-test/meme.jpg {
        method GET
        root /var/www/site/img-test/
        index meme.jpg
        autoindex off
    }
    location /upload {
        method GET POST
        root /var/www/site/forms
        index UploadFile.html
        upload_store var/www/upload/
        client_max_body_size 5M
        autoindex off
        content_type image/jpeg image/png application/pdf
    }
    location /forms {
        method GET POST
        root /var/www/forms
        index form.html
        upload_store var/www/upload/
        autoindex off
    }

location /cgi-bin {
        method GET POST
        root var/www/cgi-bin
        index greet.php
        cgi_pass /usr/bin/php-cgi
    }
}
