server {
    host 127.0.0.1
    port 8080
    server_name algo.com

    error_page 404 /404.html
    
    client_max_body_size 1M

    location / {
        method GET POST
        root /var/www/;
        index index.html;
        autoindex off;
    }

    location /hola {
        method GET 
        root /var/www/hola;
        index hola.html;
        autoindex off;

    }
}
