server {
    host 127.0.0.1
    port 8080
    server_name localhost
    client_max_body_size 10M

    location / {
        method GET
        root /var/www/site
        index index.html
        autoindex off
        prefix_match on
    }

    location /media {
        method GET
        root /var/www/site/media
        autoindex on
        prefix_match on 
    }

    location /upload {
        method GET POST
        root /var/www/site/forms
        index UploadFile.html
        upload_store /var/www/uploads
        client_max_body_size 1K
        prefix_match on 
    }

    location /static {
        method GET
        root /var/www/site/static
        index static.html
        prefix_match off
    }

    location /scripts {
        method GET POST
        root /var/www/cgi-bin
        cgi_pass /usr/bin/php-cgi
        prefix_match on
    }

    location /old {
        method GET
        return 301 /new
        prefix_match on  
    }
}
