server {
    host 127.0.0.1
    port 8080
    server_name algo.com

    error_page 404 /404.html
    
    client_max_body_size 10M

    location / {
        method GET
        root /var/www/test-site
        index test.html
        autoindex off
    }
    location /img-test/meme1.jpg {
        method GET
        root /var/www/test-site/img-test
        index meme1.jpg
        autoindex off
    }
    location /img-test/meme2.jpg {
        method GET
        root /var/www/test-site/img-test
        index meme2.jpg
        autoindex off
    }
    location /img-test/meme3.jpg {
        method GET
        root /var/www/test-site/img-test
        index meme3.jpg
        autoindex off
    }
    location /img-test/meme4.jpg {
        method GET
        root /var/www/test-site/img-test
        index meme4.jpg
        autoindex off
    }
    
    location /img-test/meme5.jpg {
        method GET
        root /var/www/test-site/img-test
        index meme5.jpg
        autoindex off
    }
    location /upload {
        method GET POST
        root /var/www/forms
        index UploadFile.html
        upload_index var/www/upload
        client_max_body_size 5M
        autoindex off
        content_type image/jpeg image/png application/pdf
    }
    location /forms {
        method GET POST
        root /var/www/forms
        index form.html
        autoindex off
    }


}
